.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
[Bb]in/
[Oo]bj/

# precalculated prime sieve - too large for git
problems/primeSieve.dat